<!--href="/post/{{this.id}}"-->
<div class="selectedTheme colorMain">
    <h2 class="categoryHeader colorTextLight">{{postsListTitle}}</h2>
    <div class="colorTextLight">
        <span><a
            {{#is sortTag 'byTime' }}
            href="?sortTag=byTimeAsc"
            {{else}}
                {{#if sortTag }}
            href="?sortTag=byTime"
                {{else}}
            href="?sortTag=byTimeAsc"
                {{/if}}
            {{/is}}
            class="sortLink">По времени</a></span>
        <span><a
            {{#is sortTag 'byReplies' }}
            href="?sortTag=byRepliesAsc"
            {{else}}
            href="?sortTag=byReplies"
            {{/is}}
            class="sortLink">По ответам</a></span>
        <span><a
            {{#is sortTag 'byLastReply' }}
            href="?sortTag=byLastReplyAsc"
            {{else}}
            href="?sortTag=byLastReply"
            {{/is}}
            class="sortLink">По последнему ответу</a></span></div>

    <ul id="ulPosts">
        {{#each posts}}
            <li class="answer colorSection">
                <div class="profile">
                    <img {{#if this.author_name}}
                    src="https://postal.ninja/assets/images/48981817022dda35bf548590be816d60-logo-100x100.png"
                    {{else}}
                    src="https://avatars.mds.yandex.net/get-znatoki/1368855/2a0000016cc1fb6175fa439bc6ab108427ae/w480"
                    {{/if}}
                    alt="No avatar" height="100" width="100">
                    <div class="profileName link colorDarkLink">
                        {{#if this.author_name}}
                            {{this.author_name}}
                        {{else}}
                            Удален
                        {{/if}}
                    </div>
                </div>
                <a class="answerText link ColorTextDark" href="/post/{{this.id}}">{{this.title}}</a>
                <div class="voteField">
                    <a href="/post/{{this.id}}"><input type="image"
                                                       class="replyImage vote colorDarkLink myButton colorSection"
                                                       src="/static/images/reply.png" alt="#"/></a>
                    <div class="voteCounter colorMain colorTextLight">{{this.reply_count}}</div>
                </div>
            </li>
        {{/each}}
    </ul>

    {{#if user}}
        {{#if categoryChosen}}
            {{>newPost}}
        {{/if}}
    {{else}}
        <p class="colorTextLight">Войдите или зарегистрируйтесь, чтобы создать пост</p>
    {{/if}}
</div>